<p id="notice"><%= notice %></p>

<h1>Listing Widget Forms</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @widget_forms.each do |widget_form| %>
      <tr>
        <td><%= link_to 'Show', widget_form %></td>
        <td><%= link_to 'Edit', edit_widget_form_path(widget_form) %></td>
        <td><%= link_to 'Destroy', widget_form, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Widget form', new_widget_form_path %>
